{
    "host_groups": [
        {
            "name": "master",
            "components": [
              { "name" : "AMBARI_SERVER" },
              { "name" : "NAMENODE" },
              { "name" : "SECONDARY_NAMENODE" },
              { "name" : "RESOURCEMANAGER" },
              { "name" : "APP_TIMELINE_SERVER" },
              { "name" : "HISTORYSERVER" },
              { "name" : "WEBHCAT_SERVER" },
              { "name" : "HIVE_SERVER" },
              { "name" : "HIVE_METASTORE" },
              { "name" : "SPARK2_JOBHISTORYSERVER" },
              { "name" : "SPARK2_THRIFTSERVER" },
              { "name" : "MYSQL_SERVER" },
              { "name" : "KNOX_GATEWAY" },
              { "name" : "METRICS_COLLECTOR" },
              { "name" : "METRICS_MONITOR" },

              { "name" : "DATANODE"},
              { "name" : "NODEMANAGER"},
              { "name" : "ZOOKEEPER_SERVER" },

              { "name": "HCAT"},
              { "name": "HDFS_CLIENT"},
              { "name": "YARN_CLIENT"},
              { "name": "HIVE_CLIENT"},
              { "name": "SPARK2_CLIENT"},
              {% if ambari.enable_kerberos == true %}
              { "name": "KERBEROS_CLIENT"},
              {% endif %}
              { "name": "ZOOKEEPER_CLIENT"}
            ],
            "cardinality": "1"
        },
        {
            "name": "slaves",
            "components": [
              { "name" : "DATANODE"},
              { "name" : "NODEMANAGER"},
              { "name" : "ZOOKEEPER_SERVER" },

              { "name" : "METRICS_MONITOR" },

              { "name": "HCAT"},
              { "name": "HDFS_CLIENT"},
              { "name": "YARN_CLIENT"},
              { "name": "HIVE_CLIENT"},
              { "name": "SPARK2_CLIENT"},
              {% if ambari.enable_kerberos == true %}
              { "name": "KERBEROS_CLIENT"},
              {% endif %}
              { "name": "ZOOKEEPER_CLIENT"}
            ]
        }
    ],
    "configurations": [
        {
            "cluster-env": {
                "security_enabled": "false",
                "smokeuser": "ambari-qa",
                "user_group": "hadoop",
                "properties": {
                  "ignore_groupsusers_create": "false",
                  "override_uid": "true"
                }
            }
        },
        {
          "core-site": {
            "hadoop.proxyuser.hcat.groups" : "*",
            "hadoop.proxyuser.hcat.hosts" : "*",
            "hadoop.proxyuser.elyra.groups" : "*",
            "hadoop.proxyuser.elyra.hosts" : "*"
          }
        },
        {
          "hadoop-env" : {
            "dtnode_heapsize" : "1024m",
            "namenode_heapsize" : "2048m",
            "namenode_opt_maxnewsize" : "384m",
            "namenode_opt_newsize" : "384m"
          }
        },
        {
          "hdfs-site" : {
            "dfs.datanode.data.dir" : "/hadoop/hdfs/data",
            "dfs.datanode.failed.volumes.tolerated" : "0",
            "dfs.replication" : "3"
          }
        },
        {
          "knox-env" : {
            "knox_master_secret" : "passw0rd"
          }
        }
        {% if ambari.enable_kerberos == true %}
        ,{
            "kerberos-env": {
                "manage_identities": "true",
                "install_packages": "true",
                "realm": "IBM.COM",
                "kdc_type": "mit-kdc",
                "kdc_hosts": "{{ groups['master'][0] }}.{{ ansible_domain }}",
                "admin_server_host": "{{ groups['master'][0] }}.{{ ansible_domain }}"
            }
        },
        {
            "krb5-conf": {
                "domains": "IBM.COM",
                "manage_krb5_conf": "true"
            }
        }
        {% endif %}
    ],
    "Blueprints": {
        "blueprint_name": "hdp",
        "stack_name": "HDP",
        "stack_version": "2.6"
        {% if ambari.enable_kerberos == true %}
        ,"security": {
            "type": "KERBEROS"
        }
        {% endif %}
    }
}
