{
    "blueprint": "hdp",
    "config_recommendation_strategy": "ALWAYS_APPLY_DONT_OVERRIDE_CUSTOM_VALUES",
    "default_password": "passw0rd",
    "host_groups": [
        {
            "name": "master",
            "configurations" : [ ],
            "hosts": [
                {
                {% for host in groups['master'] %}
                    "fqdn": "{{ hostvars[host]['ansible_hostname'] }}.{{ ansible_domain }}"
                {% endfor %}
                }
            ]
        },
        {
            "name": "slaves",
            "configurations" : [ ],
            "hosts": [
                {% for host in groups['nodes'] %}
                  {% if 'master' not in hostvars[host]['group_names'] %}
                    {"fqdn": "{{ hostvars[host]['ansible_hostname'] }}.{{ ansible_domain }}" } {% if not loop.last %}, {%endif%}
                  {% endif %}
                {% endfor %}
            ]
        }
    ]
    {% if ambari.enable_kerberos == true %}
    ,
        "credentials": [{
            "alias": "kdc.admin.credential",
            "principal": "admin/admin",
            "key": "admin",
            "type": "TEMPORARY"
        }],
        "security": {
            "type": "KERBEROS"
        }
    {% endif %}
}
