#!/bin/bash

MAX_OPEN_FILES=65536
MAX_MAP_COUNT=262144

clear

echo " "
echo " "
echo "Environment configuration ..."
echo "Hadoop Home.........= $HADOOP_HOME"
echo "Spark Home..........= $SPARK_HOME"
echo "Elasticsearch Home..= $ELASTICSEARCH_HOME"
echo " "
echo " "

### Stop
if [ -z "$1" -o "$1" = "--stop" ]
then
   echo ">>> "
   echo ">>> Stopping services..."
   echo ">>> Stopping SPARK services..."
   cd $SPARK_HOME && ./sbin/stop-all.sh
   sleep 5s
   echo ">>> Stopping HDFS services..."
   cd $HADOOP_HOME && ./sbin/stop-dfs.sh
   sleep 5s
   echo ">>> Stopping ELASTICSEARCH services..."
   kill `cat /tmp/elasticsearch-root.pid`
   echo ">>> "
fi

## start
if [ -z "$1" -o "$1" = "--start" ]
then
   echo ">>> "
   echo ">>> Starting services..."
   echo ">>> Starting HDFS services..."
   cd $HADOOP_HOME && ./sbin/start-dfs.sh
   sleep 10s
   echo ">>> Starting Spark services..."
   cd $SPARK_HOME && ./sbin/start-all.sh
   sleep 10s
   echo ">>> Starting Elasticsearch services..."
   rm -rf $ELASTICSEARCH_HOME/logs/*
   ulimit -n $MAX_OPEN_FILES
   sysctl -q -w vm.max_map_count=$MAX_MAP_COUNT
   /bin/su elasticsearch -s /bin/bash -c "cd $ELASTICSEARCH_HOME && ./bin/elasticsearch -d -p /tmp/elasticsearch.pid"
   echo ">>> "
fi
