#!/usr/bin/env bash

export JAVA_TOOL_OPTS=-Djava.net.preferIPv4Stack=true

export HADOOP_CONF_DIR=${HADOOP_CONF_DIR:-/etc/hadoop/conf}

SPARK_MASTER_IP={{ groups['master'][0] }}
SPARK_MASTER_PORT={{ spark.master_port }}
SPARK_WORKER_PORT={{ spark.worker_work_port }}
SPARK_WORKER_WEBUI_PORT={{ spark.worker_ui_port }} #Avoid conflict with kafka ports

{% for key, value in spark.env_extras.items() | sort %}
export {{ key }}="{{ value }}"
{% endfor %}
