internal:

  elyra_version: 0.7.0.dev0
  elyra_download_server: 9.30.252.137
  elyra_download_root: dist
  elyra_install_dir: "{{ install_dir }}/elyra"


notebook:

  elyra_archive_package_name: jupyter_enterprise_gateway-{{ internal.elyra_version }}-py2.py3-none-any.whl
  elyra_archive_pip_download_location: http://{{ internal.elyra_download_server }}/{{ internal.elyra_download_root }}/elyra/

  elyra_install_directory: "{{ internal.elyra_install_dir }}"
  elyra_log_directory: "{{ internal.elyra_install_dir }}/log"
  elyra_runtime_directory: "{{ internal.elyra_install_dir }}/runtime"

  elyra_kernelspec_package_name: jupyter_enterprise_gateway_kernelspecs-{{ internal.elyra_version }}.tar.gz
  elyra_kernelspec_download_location: http://{{ internal.elyra_download_server }}/{{ internal.elyra_download_root }}/elyra-kernelspecs/

  toree_archive_package_name: toree-0.2.0.dev1.tar.gz
  toree_pip_download_location: http://{{ internal.elyra_download_server }}/{{ internal.elyra_download_root }}/toree/

  yarn_endpoint_host: "{{ groups['master'][0] }}"

  #"lookup('env', 'SPARK_HOME') | default('/usr/hdp/current/spark2-client', true)"
  spark_home: /usr/hdp/current/spark2-client

  user: elyra
  home_dir: /home/elyra
  groups: [hdfs]

  #use_anaconda
  enable_impersonation: false
  deploy_kernelspecs_to_workers: false
