[BI_AMBARI-TP5]
name=BI_AMBARI-TP5
baseurl=http://ibm-open-platform.ibm.com/extras/milestones/BIGINSIGHTS-TP5/Ambari/RHEL7/x86_64
enabled=1
gpgcheck=1
gpgkey=http://ibm-open-platform.ibm.com/extras/milestones/BIGINSIGHTS-TP5/Ambari/RHEL7/x86_64/BI-GPG-KEY.public
