# The number of milliseconds of each tick
tickTime=3000

# The number of ticks that the initial
# synchronization phase can take
initLimit=10

# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5

# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just
# example sakes.
dataDir={{ zookeeper.data_dir }}

# the port at which the clients will connect
clientPort=2181

#
# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval=2

{% for host in groups['all'] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_hostname'] }}.{{ ansible_domain }}:2888:3888
{% endfor %}

